extends layout

block content
  h1 Bienvenue
  p Application test Node / Express
  ul 
    li Google Auth via Passport 
    li CRUD operations on MongoDB (en cours)
    li Export des tâches via NodeMailer (à venir)
  a(href="/auth/google").btn.btn-primary.btn-lg Google Sign-in