extends layout

block content
  h1 Bienvenue #{infos.name}
  img(src=infos.photo)

  p Liste des tâches
  ul
    each text in infos.toDo
      li= text

  div.cont
    form(action='/addTask', method='POST').row
      input(name="task", id="taskInput").col.s6.inline
      input(type="submit", value="Ajouter", class="inputSubmit").btn.btn-default
    a(href="/logout").btn.btn-default Log out