extends layout

block content
  h1 Bienvenue #{infos.name}
  img(src=infos.photo)

  p Liste des tâches
  ul
    each text in infos.toDo
      li= text

  div.cont
    form(action='/addTask', method='POST')
      input(value="task", name="task", class="inputText")
      input(type="submit", value="Ajouter", class="inputSubmit")
    a(href="/logout").btn.btn-default Log out